*{
  padding: 0;
  margin: 0;
}
h1{
  padding-left: 25%;
  height: 70px;
}
.box-container{
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  /* background-color: aqua; */
} 
.row1{
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.row2{
  padding-left: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.box{
  height: 250px;
  width: 250px;
  /* border: 2px solid black; */
  display: inline-block;
  margin-left: 15px;
  box-shadow: 5px 5px 5px #888888;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.heading{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  font-size: x-large;
  font-weight: 1000;
  margin-top: 20px;
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: large;
}
p{
  display: block;
}
.view-detail{
  margin-top: 1rem;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px; 
  /* margin-left: 10px; */
  margin-bottom: 15px;
}
#msg{
  background-color:  #00a5e3;;
  color: white;
  font-size: small;
  margin-top: 15px;
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10%;
}
